 <!DOCTYPE html>
<html ng-app="myApps">
<meta charset="utf-8">
<title>Contacts</title>
<meta name="viewport" content="width=device-width">

<base href="/">

<script src='/lib/angular/angular.min.js'></script>
<script src='lib/angular-route/angular-route.min.js'></script>
<script src='lib/angular-resource/angular-resource.min.js'></script>

<style>

.tabs {
    height: 35px;
    margin: 0;
    width: 100%;
}

.tab {
    background-color: #E4E4E4;
    cursor: pointer;
    float: left;
    font-size: 12px;
    margin-right: 10px;
    padding: 10px 0 10px;
    text-align: center;
    width: 85px;
    line-height: 15px;
}

.selected {
    background-color: silver;
}

.tab_content {
    background-color: silver;
    height: 400px;
}

p {
    padding: 10px;
}
  .overflowable {
  height: 240px;
  overflow-y: auto;
  border: 1px solid #000;
}

.overflowable p {
  margin: 0;
}

.col {
  float: left;
  width: 350px;
}

.clr {
  clear: both;
}
</style>
<div ng-controller="AppCtrl">


  <div>
    
      <label for="">Room List</label>
          <select ng-model="chatRooms" ng-options="room for room in rooms">
             <option value="">-- choose room --</option>
          </select>
  </div>  

    

  <div id='tabHeader' class="tabs">
      
  </div>
   <div id='tab_content'>
      
     <!--  <div ng-show="selected == 'first'" class="tab_content">
        <p>ani</p>
      </div> -->

   </div>
    

  <div class="clr">
    <h3>Change your name</h3>
    <p>Your current user name is {{username}}</p>
    <form ng-submit='changeName()'>
      <label for="">New Name</label>
      <input size='60', ng-model='newName'>
      <input type="submit" value='Change Name'>
    </form>
  </div>

</div>
<script src='/lib/underscore/underscore-min.js'></script>
<script src='/lib/socket/socket.io.js'></script>
<script>
angular.module('myApps', ['ngResource','ngRoute'])

.directive('chattab', function(socket) {
  return {
    restrict:'E',
    scope:{'val':'@' ,'selected' : '='},
    replace:true,
    templateUrl: 'template/tab.html',
    link:function(scope,element,attrs){

        console.log( scope.val );

    },
    controller:function($scope,socket){

        $scope.message = ['hello'];
        $scope.sendMessage = function(){

          console.log( socket );
          socket.emit('newMessage',{ room:  $scope.val, msg:'test' });
          
        };
    }
  };
})
.directive('chattabhead', function() {
  return {
    restrict:'E',
    scope:{'val':'@' ,'selected' : '='},
    replace:true,
    templateUrl: 'template/tabhead.html',
    link:function(scope,element,attrs){

        console.log( scope.val );

    }

    // },
    // controller:function($scope){

    //     $scope.message = ['hello'];
    //     this.sendMessage = function(){

    //       alert('hi');
    //     };
    // }
  };
})

.controller('AppCtrl', function ($scope, $compile,socket) { 


$scope.selected = 'MainRoom';
  $scope.rooms = ['MainRoom','Test','Test3'];

  $scope.chatRooms = '';

  $scope.roomTabs=[];

  $scope.$watch('selected', function(val) {

      console.log( val );

  });  

  $scope.$watch('chatRooms', function(val) {
  
    //console.log(val);

    if(val){

      if( !_.contains($scope.roomTabs,val) ){

          $scope.roomTabs.push( val );
          //console.log(  val );


          //tab = '<p>xxx</p>';
          //var tab = $compile('<chattab val="x"></chattab>');

          // "' + $scope.selected+ '"
          var tab =$compile( '<chattab val="' + val + '" selected="selected"></chattab>')($scope) ;

          //console.log( '<chattab val="' + val + '" selected="{{selected}}"></chattab>' );  

          angular.element(document.getElementById('tab_content')).append(tab);

          var tabhead = $compile( '<chattabhead val="' + val +  
                        '" selected="selected"></chattabhead>')($scope);
          angular.element(document.getElementById('tabHeader')).append(tabhead);

      } 

    }
    



  });

  // socket.on('init', function (data) {
  //   $scope.name = data.name;
  //   $scope.users = data.users;
  // });

  socket.on('connected', function (message) {
   $scope.messages.push(message);

   socket.emit('getUsersInRoom', {
      room: 'MainRoom'
    });

  });

  socket.on('usersInRoom', function (data) {

    

    $scope.users = data.users;

  });


   socket.on('userJoinsRoom', function (data) {

    $scope.username = data.username;

   $scope.messages.push(data.msg);
  

  });
 
  socket.on('newMessage', function (message) {

    $scope.messages.push(message);


  });

  socket.on('userNicknameUpdated', function (data) {
    changeName(data.oldUsername, data.newUsername);

        //changeName($scope.username, $scope.newName);
        $scope.username = $scope.newName;
        $scope.newName = '';
  });

  socket.on('user:join', function (data) {
    $scope.messages.push({
      username: 'chatroom',
      text: 'User ' + data.name + ' has joined.'
    });
    $scope.users.push(data.name);
  });

  // add a message to the conversation when a user disconnects or leaves the room
  socket.on('userLeavesRoom', function (data) {
    $scope.messages.push({
      username: 'chatroom',
      text: data.username+ ' ' + data.text
    });

  });

  // Private helpers
  // ===============

  var changeName = function (oldName, newName) {

    $scope.messages.push({
      username: 'chatroom',
      text: 'User ' + oldName + ' is now known as ' + newName + '.'
    });
  }

  // Methods published to the scope
  // ==============================

  $scope.changeName = function () {
    socket.emit('setNickname', {
      username: $scope.newName
    }, function (result) {
      if (!result) {
        alert('There was an error changing your name');
      } else {

        changeName($scope.username, $scope.newName);
        $scope.username = $scope.newName;
        $scope.newName = '';


      }


    });
  };

  $scope.messages = [];

  $scope.sendMessage = function () {
    socket.emit('newMessage', {
      msg: $scope.message,
      room: 'MainRoom'
    });

  };
})

.factory('socket', function ($rootScope) {
  var socket = io.connect();
  return {
    on: function (eventName, callback) {
      socket.on(eventName, function () {  
        var args = arguments;
        $rootScope.$apply(function () {
          callback.apply(socket, args);
        });
      });
    },
    emit: function (eventName, data, callback) {
      socket.emit(eventName, data, function () {
        var args = arguments;
        $rootScope.$apply(function () {
          if (callback) {
            callback.apply(socket, args);
          }
        });
      })
    }
  };
})

;
</script>
 