<div ng-show="selected == &#39;{{val}}&#39;" class="tab_content">

          <div>{{val}} Room</div>
          <div class="col"><h3>Messages</h3>
            <div class="overflow">
              <p ng-repeat='message in messages'>{{message.username}}: {{message.text}}</p>
            </div>
          </div>

          <div class="col"><h3>Users</h3>
            <div class="overflow">
              <p ng-repeat='user in users'>{{user.username}}</p>
            </div>
          </div>

          <div class="clr">
            <button ng-click='sendMessage()'>Send</button>
            
          </div>
</div>